<app-toolbar></app-toolbar>
<div style="height: 100%; width: 100%;">
    <div class="greeting1">
      <img src="/assets/bookimage/Group 4132.svg" style="height: 15rem; width: 15rem;" />
    </div>
    <div class="message">
      Order Placed Successfully
    </div>
    <div class="greeting2" style="margin-top: 10px;">
      <span>hurry!!!your order is confirmed</span>
    </div>
    <div class="greeting2">
      <span>the order id is #123456 save the oreder id for</span>
    </div>
    <div class="greeting2">
      <span>further Communication...</span>
    </div>
    <hr />
    <div role="combobox" flex="column">
        <table>
          <tr>
              <th>Book ID No</th>
              <th>Customer Name</th>
              <th>Order Id</th>
          </tr>
          <tr>
            <td>1</td>
            <td>Rohit</td>
            <td>123456</td>
          </tr>
        </table>
        <table>
          <tr>
            <th>Email us</th>
            <th>Contact us</th>
            <th>Address</th>
          </tr>
          <tr>
            <td>admin@bookstore.com</td>
            <td>+91 8163475881</td>
            <td>
              42, 14th Main, 15th Cross, Sector 4 ,opp to BDA complex, near
              Kumarakom restaurant, HSR Layout, Bangalore 560034
            </td>
          </tr>
          <!-- <tr> 
                <td>Eve</td>
                <td>Jackson</td>
                <td>94</td>
              </tr> -->
        </table>
      </div>
      <!-- <div class="done" fxLayout="column" fxLayoutAlign="end end" > -->
      
    
    </div>